p.round2 {
    border: 3px solid gray;
    border-radius: 12px;
}
#p2 {
    font-family: 'Courier New', Courier, monospace; 
}
.button{
   background-color: rgb(230,154,141);
   font-size: 16px;
   width: 25%;
}